*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.pexels.com/photos/6840005/pexels-photo-6840005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

.nav1{
    background-color: rgba(146, 146, 146, 0.249);
    width: 60%;
    margin: 1% auto 0;
    border-radius: 5%;
}

.navitems{
    margin: auto;
}

.nav-link{
    font-size: 1.3rem;
}

.heading{
    margin: 5% 5% 0 0;
}